nodered library/aqiFlow
[{"id":"7c7f8466.78ee7c","type":"subflow","name":"display function","info":"","in":[{"x":320,"y":300,"wires":[{"id":"c3f1e30c.8ab2b"}]}],"out":[{"x":640,"y":300,"wires":[{"id":"c3f1e30c.8ab2b","port":0}]}]},{"id":"c3f1e30c.8ab2b","type":"function","z":"7c7f8466.78ee7c","name":"","func":"var res = msg.payload.split(\":\");\n//ppmvalue = res[1];\nif (res[1] == '0.00'){\n   msg.payload =  'null';\n}\nelse{\n  msg.payload = res[1];  \n}\n//msg.payload = res[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":300,"wires":[[]]},{"id":"fe4170d7.ab8f6","type":"mqtt in","z":"ffbdaec8.4f61a","name":"","topic":"Airqualitymonitoring/Othersensors/SDS011/#","qos":"2","broker":"a6205e87.93b87","x":210,"y":60,"wires":[["b5c488c6.d139b8","e2d3e475.342328"]]},{"id":"b5c488c6.d139b8","type":"debug","z":"ffbdaec8.4f61a","name":"","active":true,"console":"false","complete":"false","x":550,"y":40,"wires":[]},{"id":"54f0776f.3bdb18","type":"ui_chart","z":"ffbdaec8.4f61a","name":"","group":"a945ad23.1efdf","order":0,"width":0,"height":0,"label":"SDS011chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":830,"y":100,"wires":[[],[]]},{"id":"e2d3e475.342328","type":"subflow:7c7f8466.78ee7c","z":"ffbdaec8.4f61a","name":"","x":580,"y":100,"wires":[["b94a9a2e.2ad088"]]},{"id":"ad55e6a7.960ab8","type":"mqtt in","z":"ffbdaec8.4f61a","name":"","topic":"Airqualitymonitoring/Gassensors/MQ3/#","qos":"2","broker":"a6205e87.93b87","x":220,"y":360,"wires":[["147bcee7.0e4d11"]]},{"id":"8c66a2b0.a1879","type":"mqtt in","z":"ffbdaec8.4f61a","name":"","topic":"Airqualitymonitoring/Gassensors/MQ4/#","qos":"2","broker":"a6205e87.93b87","x":220,"y":420,"wires":[["fc120f0e.82ebc"]]},{"id":"a6c8f094.f8ad6","type":"mqtt in","z":"ffbdaec8.4f61a","name":"","topic":"Airqualitymonitoring/Gassensors/MQ5/#","qos":"2","broker":"a6205e87.93b87","x":220,"y":480,"wires":[["9eb6aa8e.652108"]]},{"id":"8bc1c8e7.b4e3e8","type":"mqtt in","z":"ffbdaec8.4f61a","name":"","topic":"Airqualitymonitoring/Gassensors/MQ6/#","qos":"2","broker":"a6205e87.93b87","x":220,"y":540,"wires":[["26b5c366.d979bc"]]},{"id":"3c9b8351.9dcbfc","type":"mqtt in","z":"ffbdaec8.4f61a","name":"","topic":"Airqualitymonitoring/Gassensors/MQ7/#","qos":"2","broker":"a6205e87.93b87","x":220,"y":600,"wires":[["7e2e5272.70e50c"]]},{"id":"8ef77f3b.c6392","type":"mqtt in","z":"ffbdaec8.4f61a","name":"","topic":"Airqualitymonitoring/Gassensors/MQ8/#","qos":"2","broker":"a6205e87.93b87","x":220,"y":660,"wires":[["9501bb94.c411c8"]]},{"id":"25f3fa91.8be5e6","type":"mqtt in","z":"ffbdaec8.4f61a","name":"","topic":"Airqualitymonitoring/Gassensors/MQ9/#","qos":"2","broker":"a6205e87.93b87","x":220,"y":720,"wires":[["575bfe4.3df1a"]]},{"id":"8ed727f8.83fc38","type":"mqtt in","z":"ffbdaec8.4f61a","name":"","topic":"Airqualitymonitoring/Gassensors/MQ135/#","qos":"2","broker":"a6205e87.93b87","x":220,"y":780,"wires":[["afb1017b.4d9b5","5bd8e22e.d279ac"]]},{"id":"c08ae310.53f32","type":"mqtt in","z":"ffbdaec8.4f61a","name":"","topic":"Airqualitymonitoring/Gassensors/MQ2/#","qos":"2","broker":"a6205e87.93b87","x":220,"y":300,"wires":[["9a3d9401.ed32a8"]]},{"id":"bbd822de.9b07d","type":"ui_chart","z":"ffbdaec8.4f61a","name":"","group":"a945ad23.1efdf","order":0,"width":0,"height":0,"label":"MQ2chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":830,"y":300,"wires":[[],[]]},{"id":"f6bf7c15.acb4","type":"ui_chart","z":"ffbdaec8.4f61a","name":"","group":"a945ad23.1efdf","order":0,"width":0,"height":0,"label":"MQ3chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":830,"y":360,"wires":[[],[]]},{"id":"9dc98d4e.f54a5","type":"ui_chart","z":"ffbdaec8.4f61a","name":"","group":"a945ad23.1efdf","order":0,"width":0,"height":0,"label":"MQ4chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":830,"y":420,"wires":[[],[]]},{"id":"6cf4366d.898a58","type":"ui_chart","z":"ffbdaec8.4f61a","name":"","group":"a945ad23.1efdf","order":0,"width":0,"height":0,"label":"MQ5chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":830,"y":480,"wires":[[],[]]},{"id":"55725535.bed36c","type":"ui_chart","z":"ffbdaec8.4f61a","name":"","group":"a945ad23.1efdf","order":0,"width":0,"height":0,"label":"MQ6chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":830,"y":540,"wires":[[],[]]},{"id":"ea18bc16.010ed","type":"ui_chart","z":"ffbdaec8.4f61a","name":"","group":"a945ad23.1efdf","order":0,"width":0,"height":0,"label":"MQ7chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":830,"y":600,"wires":[[],[]]},{"id":"eb382b52.0222b8","type":"ui_chart","z":"ffbdaec8.4f61a","name":"","group":"a945ad23.1efdf","order":0,"width":0,"height":0,"label":"MQ8chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":830,"y":660,"wires":[[],[]]},{"id":"40e5077b.fb5b98","type":"ui_chart","z":"ffbdaec8.4f61a","name":"","group":"a945ad23.1efdf","order":0,"width":0,"height":0,"label":"MQ9chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":830,"y":720,"wires":[[],[]]},{"id":"a768f750.218968","type":"ui_chart","z":"ffbdaec8.4f61a","name":"","group":"a945ad23.1efdf","order":0,"width":0,"height":0,"label":"MQ135chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":830,"y":780,"wires":[[],[]]},{"id":"afb1017b.4d9b5","type":"debug","z":"ffbdaec8.4f61a","name":"","active":false,"console":"false","complete":"true","x":1050,"y":740,"wires":[]},{"id":"4d224c53.d23564","type":"mqtt in","z":"ffbdaec8.4f61a","name":"","topic":"Airqualitymonitoring/Othersensors/DHT22/#","qos":"2","broker":"a6205e87.93b87","x":230,"y":240,"wires":[[]]},{"id":"9a3d9401.ed32a8","type":"subflow:7c7f8466.78ee7c","z":"ffbdaec8.4f61a","x":580,"y":300,"wires":[["bbd822de.9b07d"]]},{"id":"147bcee7.0e4d11","type":"subflow:7c7f8466.78ee7c","z":"ffbdaec8.4f61a","x":580,"y":360,"wires":[["f6bf7c15.acb4"]]},{"id":"fc120f0e.82ebc","type":"subflow:7c7f8466.78ee7c","z":"ffbdaec8.4f61a","x":580,"y":420,"wires":[["9dc98d4e.f54a5"]]},{"id":"9eb6aa8e.652108","type":"subflow:7c7f8466.78ee7c","z":"ffbdaec8.4f61a","x":580,"y":480,"wires":[["6cf4366d.898a58"]]},{"id":"26b5c366.d979bc","type":"subflow:7c7f8466.78ee7c","z":"ffbdaec8.4f61a","x":580,"y":540,"wires":[["55725535.bed36c"]]},{"id":"7e2e5272.70e50c","type":"subflow:7c7f8466.78ee7c","z":"ffbdaec8.4f61a","x":580,"y":600,"wires":[["ea18bc16.010ed"]]},{"id":"9501bb94.c411c8","type":"subflow:7c7f8466.78ee7c","z":"ffbdaec8.4f61a","x":580,"y":660,"wires":[["eb382b52.0222b8"]]},{"id":"575bfe4.3df1a","type":"subflow:7c7f8466.78ee7c","z":"ffbdaec8.4f61a","x":580,"y":720,"wires":[["40e5077b.fb5b98"]]},{"id":"5bd8e22e.d279ac","type":"subflow:7c7f8466.78ee7c","z":"ffbdaec8.4f61a","x":580,"y":780,"wires":[["a768f750.218968"]]},{"id":"b94a9a2e.2ad088","type":"switch","z":"ffbdaec8.4f61a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"null","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":710,"y":160,"wires":[["72c4c76f.3db158"],["54f0776f.3bdb18"]]},{"id":"72c4c76f.3db158","type":"debug","z":"ffbdaec8.4f61a","name":"","active":true,"console":"false","complete":"true","x":990,"y":160,"wires":[]},{"id":"a6205e87.93b87","type":"mqtt-broker","z":"","broker":"172.16.27.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"a945ad23.1efdf","type":"ui_group","z":"ffbdaec8.4f61a","name":" Airquality","tab":"574b68b7.eac498","disp":true,"width":"20"},{"id":"574b68b7.eac498","type":"ui_tab","z":"ffbdaec8.4f61a","name":"Aqi_tab","icon":"dashboard","order":3}]