nodered library/combined
[{"id":"7c7f8466.78ee7c","type":"subflow","name":"display function","info":"","in":[{"x":320,"y":300,"wires":[{"id":"c3f1e30c.8ab2b"}]}],"out":[{"x":640,"y":300,"wires":[{"id":"c3f1e30c.8ab2b","port":0}]}]},{"id":"c3f1e30c.8ab2b","type":"function","z":"7c7f8466.78ee7c","name":"","func":"var res = msg.payload.split(\":\");\n//ppmvalue = res[1];\nif (res[1] == '0.00'){\n   msg.payload =  'null';\n}\nelse{\n  msg.payload = res[1];  \n}\n//msg.payload = res[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":300,"wires":[[]]},{"id":"2e2667ac.02d608","type":"mqtt in","z":"77ff5c10.4ec0d4","name":"","topic":"Airqualitymonitoring/Gassensors/MQ3","qos":"2","broker":"a6205e87.93b87","x":210,"y":360,"wires":[["bd0c2a2c.cbd7c8"]]},{"id":"237a8a3b.c53bf6","type":"debug","z":"77ff5c10.4ec0d4","name":"","active":false,"console":"false","complete":"true","x":1030,"y":200,"wires":[]},{"id":"f2726d1c.7ea5","type":"mqtt in","z":"77ff5c10.4ec0d4","name":"","topic":"Airqualitymonitoring/Gassensors/MQ4","qos":"2","broker":"a6205e87.93b87","x":210,"y":420,"wires":[["a716f8ab.240878"]]},{"id":"b3dad3da.3c635","type":"mqtt in","z":"77ff5c10.4ec0d4","name":"","topic":"Airqualitymonitoring/Gassensors/MQ5","qos":"2","broker":"a6205e87.93b87","x":210,"y":480,"wires":[["5a3ac72b.05c388"]]},{"id":"4c28c77.e745b38","type":"mqtt in","z":"77ff5c10.4ec0d4","name":"","topic":"Airqualitymonitoring/Gassensors/MQ6","qos":"2","broker":"a6205e87.93b87","x":210,"y":540,"wires":[["95fb13bf.87d5e"]]},{"id":"88d75f8b.11c55","type":"mqtt in","z":"77ff5c10.4ec0d4","name":"","topic":"Airqualitymonitoring/Gassensors/MQ7","qos":"2","broker":"a6205e87.93b87","x":210,"y":600,"wires":[["c16564d0.1fd508"]]},{"id":"99635fac.7fcd2","type":"mqtt in","z":"77ff5c10.4ec0d4","name":"","topic":"Airqualitymonitoring/Gassensors/MQ8","qos":"2","broker":"a6205e87.93b87","x":210,"y":660,"wires":[["f8bba5ec.aa0d98"]]},{"id":"6f826844.a09798","type":"mqtt in","z":"77ff5c10.4ec0d4","name":"","topic":"Airqualitymonitoring/Gassensors/MQ9","qos":"2","broker":"a6205e87.93b87","x":210,"y":720,"wires":[["81e27394.0ab42"]]},{"id":"1bbbe36b.fb7bfd","type":"mqtt in","z":"77ff5c10.4ec0d4","name":"","topic":"Airqualitymonitoring/Gassensors/MQ135","qos":"2","broker":"a6205e87.93b87","x":220,"y":780,"wires":[["2c44aa09.e16db6","5fe0ce56.c27c5"]]},{"id":"e1ad3d70.c514f","type":"mqtt in","z":"77ff5c10.4ec0d4","name":"","topic":"Airqualitymonitoring/Gassensors/MQ2","qos":"2","broker":"a6205e87.93b87","x":210,"y":300,"wires":[["237a8a3b.c53bf6","d1fc20cc.f7379"]]},{"id":"8e2610ad.82283","type":"debug","z":"77ff5c10.4ec0d4","name":"","active":false,"console":"false","complete":"true","x":1050,"y":580,"wires":[]},{"id":"2c44aa09.e16db6","type":"debug","z":"77ff5c10.4ec0d4","name":"","active":false,"console":"false","complete":"true","x":1050,"y":700,"wires":[]},{"id":"466d4d13.043aa4","type":"mqtt in","z":"77ff5c10.4ec0d4","name":"","topic":"Airqualitymonitoring/Othersensors/DHT22","qos":"2","broker":"a6205e87.93b87","x":220,"y":240,"wires":[[]]},{"id":"658dca69.2515f4","type":"mqtt in","z":"77ff5c10.4ec0d4","name":"","topic":"Airqualitymonitoring/Othersensors/BMP","qos":"2","broker":"a6205e87.93b87","x":210,"y":160,"wires":[[]]},{"id":"d2bc8ef5.b30c5","type":"mqtt in","z":"77ff5c10.4ec0d4","name":"","topic":"Airqualitymonitoring/Othersensors/SDS011","qos":"2","broker":"a6205e87.93b87","x":220,"y":80,"wires":[[]]},{"id":"d1fc20cc.f7379","type":"subflow:7c7f8466.78ee7c","z":"77ff5c10.4ec0d4","x":580,"y":300,"wires":[[]]},{"id":"bd0c2a2c.cbd7c8","type":"subflow:7c7f8466.78ee7c","z":"77ff5c10.4ec0d4","x":580,"y":360,"wires":[[]]},{"id":"a716f8ab.240878","type":"subflow:7c7f8466.78ee7c","z":"77ff5c10.4ec0d4","x":580,"y":420,"wires":[[]]},{"id":"5a3ac72b.05c388","type":"subflow:7c7f8466.78ee7c","z":"77ff5c10.4ec0d4","x":580,"y":480,"wires":[[]]},{"id":"95fb13bf.87d5e","type":"subflow:7c7f8466.78ee7c","z":"77ff5c10.4ec0d4","x":580,"y":540,"wires":[[]]},{"id":"c16564d0.1fd508","type":"subflow:7c7f8466.78ee7c","z":"77ff5c10.4ec0d4","x":580,"y":600,"wires":[[]]},{"id":"f8bba5ec.aa0d98","type":"subflow:7c7f8466.78ee7c","z":"77ff5c10.4ec0d4","x":580,"y":660,"wires":[[]]},{"id":"81e27394.0ab42","type":"subflow:7c7f8466.78ee7c","z":"77ff5c10.4ec0d4","x":580,"y":720,"wires":[[]]},{"id":"5fe0ce56.c27c5","type":"subflow:7c7f8466.78ee7c","z":"77ff5c10.4ec0d4","x":580,"y":780,"wires":[[]]},{"id":"a6205e87.93b87","type":"mqtt-broker","z":"","broker":"172.16.27.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]