nodered library/Flow11
[{"id":"7c7f8466.78ee7c","type":"subflow","name":"display function","info":"","in":[{"x":320,"y":300,"wires":[{"id":"c3f1e30c.8ab2b"}]}],"out":[{"x":640,"y":300,"wires":[{"id":"c3f1e30c.8ab2b","port":0}]}]},{"id":"c3f1e30c.8ab2b","type":"function","z":"7c7f8466.78ee7c","name":"","func":"var res = msg.payload.split(\":\");\n//ppmvalue = res[1];\nif (res[1] == '0.00'){\n   msg.payload =  'null';\n}\nelse{\n  msg.payload = res[1];  \n}\n//msg.payload = res[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":300,"wires":[[]]},{"id":"41df0947.756428","type":"subflow","name":"MQSENSORS","info":"","in":[],"out":[{"x":840,"y":260,"wires":[{"id":"a6e2ca1d.d3e5c8","port":0}]},{"x":1760,"y":260,"wires":[{"id":"85e91437.5bda38","port":0}]},{"x":2760,"y":280,"wires":[{"id":"84425c5c.00e88","port":0}]},{"x":3840,"y":320,"wires":[{"id":"39bac2c2.88d64e","port":0}]},{"x":4900,"y":320,"wires":[{"id":"ba0da299.e50df","port":0}]},{"x":840,"y":800,"wires":[{"id":"8f1331bb.544a5","port":0}]},{"x":1760,"y":780,"wires":[{"id":"43390826.8029c8","port":0}]},{"x":2760,"y":800,"wires":[{"id":"2227a580.6e37fa","port":0}]},{"x":3880,"y":780,"wires":[{"id":"9f0459b1.c88968","port":0}]}]},{"id":"90b0b017.9181a","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ9/LPG","qos":"2","broker":"a6205e87.93b87","x":2110,"y":720,"wires":[["2227a580.6e37fa"]]},{"id":"332a462c.b46f8a","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ9/CARBON_MONOXIDE","qos":"2","broker":"a6205e87.93b87","x":2160,"y":800,"wires":[["2227a580.6e37fa"]]},{"id":"a20f41f2.e4c79","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ9/METHANE","qos":"2","broker":"a6205e87.93b87","x":2130,"y":880,"wires":[["2227a580.6e37fa"]]},{"id":"a00713d6.cdd6b","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ2/HYDROGEN","qos":"2","broker":"a6205e87.93b87","x":270,"y":80,"wires":[["a6e2ca1d.d3e5c8"]]},{"id":"9150b635.289458","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ2/LPG","qos":"2","broker":"a6205e87.93b87","x":250,"y":140,"wires":[["a6e2ca1d.d3e5c8"]]},{"id":"d384b445.904d58","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ2/METHANE","qos":"2","broker":"a6205e87.93b87","x":270,"y":200,"wires":[["a6e2ca1d.d3e5c8"]]},{"id":"27d36374.fa8fbc","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ2/CARBON_MONOXIDE","qos":"2","broker":"a6205e87.93b87","x":300,"y":260,"wires":[["a6e2ca1d.d3e5c8"]]},{"id":"36c4c3be.8c075c","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ2/ALCOHOL","qos":"2","broker":"a6205e87.93b87","x":270,"y":320,"wires":[["a6e2ca1d.d3e5c8"]]},{"id":"b6221e90.b04ba","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ2/SMOKE","qos":"2","broker":"a6205e87.93b87","x":260,"y":380,"wires":[["a6e2ca1d.d3e5c8"]]},{"id":"e0a0b83b.870ee8","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ2/PROPANE","qos":"2","broker":"a6205e87.93b87","x":260,"y":440,"wires":[["a6e2ca1d.d3e5c8"]]},{"id":"a56c26b.a06fdd8","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ3/ALCOHOL","qos":"2","broker":"a6205e87.93b87","x":1130,"y":60,"wires":[["85e91437.5bda38"]]},{"id":"788ae47a.f53afc","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ3/METHANE","qos":"2","broker":"a6205e87.93b87","x":1130,"y":220,"wires":[["85e91437.5bda38"]]},{"id":"d15727bc.5667e8","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ3/LPG","qos":"2","broker":"a6205e87.93b87","x":1110,"y":380,"wires":[["85e91437.5bda38"]]},{"id":"391cd83e.01c618","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ3/CARBON_MONOXIDE","qos":"2","broker":"a6205e87.93b87","x":1160,"y":460,"wires":[["85e91437.5bda38"]]},{"id":"54f0ae21.f0176","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ3/HEXANE","qos":"2","broker":"a6205e87.93b87","x":1120,"y":300,"wires":[["85e91437.5bda38"]]},{"id":"958266f2.5533c8","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ3/BENZENE","qos":"2","broker":"a6205e87.93b87","x":1120,"y":140,"wires":[["85e91437.5bda38"]]},{"id":"a6e2ca1d.d3e5c8","type":"subflow:7c7f8466.78ee7c","z":"41df0947.756428","x":680,"y":260,"wires":[[]]},{"id":"85e91437.5bda38","type":"subflow:7c7f8466.78ee7c","z":"41df0947.756428","x":1580,"y":260,"wires":[[]]},{"id":"2227a580.6e37fa","type":"subflow:7c7f8466.78ee7c","z":"41df0947.756428","x":2540,"y":800,"wires":[[]]},{"id":"c0d01b6f.2ae5c8","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ4/LPG","qos":"2","broker":"a6205e87.93b87","x":2110,"y":80,"wires":[["84425c5c.00e88"]]},{"id":"c17f3c79.44353","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ4/METHANE","qos":"2","broker":"a6205e87.93b87","x":2130,"y":160,"wires":[["84425c5c.00e88"]]},{"id":"ce5fab61.f7f6e8","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ4/HYDROGEN","qos":"2","broker":"a6205e87.93b87","x":2130,"y":240,"wires":[["84425c5c.00e88"]]},{"id":"5d64432b.652cdc","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ4/CARBON_MONOXIDE","qos":"2","broker":"a6205e87.93b87","x":2160,"y":320,"wires":[["84425c5c.00e88"]]},{"id":"19f100f5.71231f","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ4/ALCOHOL","qos":"2","broker":"a6205e87.93b87","x":2130,"y":400,"wires":[["84425c5c.00e88"]]},{"id":"cb281c1b.b4256","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ4/SMOKE","qos":"2","broker":"a6205e87.93b87","x":2120,"y":480,"wires":[["84425c5c.00e88"]]},{"id":"84425c5c.00e88","type":"subflow:7c7f8466.78ee7c","z":"41df0947.756428","x":2580,"y":280,"wires":[[]]},{"id":"64703f45.14394","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ5/LPG","qos":"2","broker":"a6205e87.93b87","x":3130,"y":200,"wires":[["39bac2c2.88d64e"]]},{"id":"919996e9.24ee28","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ5/METHANE","qos":"2","broker":"a6205e87.93b87","x":3150,"y":280,"wires":[["39bac2c2.88d64e"]]},{"id":"ea5a1e7b.74873","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ5/HYDROGEN","qos":"2","broker":"a6205e87.93b87","x":3150,"y":120,"wires":[["39bac2c2.88d64e"]]},{"id":"64916826.9963a8","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ5/CARBON_MONOXIDE","qos":"2","broker":"a6205e87.93b87","x":3180,"y":360,"wires":[["39bac2c2.88d64e"]]},{"id":"4d1eda.50172128","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ5/ALCOHOL","qos":"2","broker":"a6205e87.93b87","x":3150,"y":440,"wires":[["39bac2c2.88d64e"]]},{"id":"39bac2c2.88d64e","type":"subflow:7c7f8466.78ee7c","z":"41df0947.756428","x":3640,"y":320,"wires":[[]]},{"id":"c5b2e3d3.1b7f8","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ6/LPG","qos":"2","broker":"a6205e87.93b87","x":4190,"y":120,"wires":[["ba0da299.e50df"]]},{"id":"6cdf9179.ad9e4","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ6/METHANE","qos":"2","broker":"a6205e87.93b87","x":4210,"y":280,"wires":[["ba0da299.e50df"]]},{"id":"da24e9e4.4261e8","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ6/HYDROGEN","qos":"2","broker":"a6205e87.93b87","x":4210,"y":200,"wires":[["ba0da299.e50df"]]},{"id":"33eab783.2cb4a8","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ6/CARBON_MONOXIDE","qos":"2","broker":"a6205e87.93b87","x":4240,"y":360,"wires":[["ba0da299.e50df"]]},{"id":"40ab71f6.14a4d","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ6/ALCOHOL","qos":"2","broker":"a6205e87.93b87","x":4210,"y":440,"wires":[["ba0da299.e50df"]]},{"id":"ba0da299.e50df","type":"subflow:7c7f8466.78ee7c","z":"41df0947.756428","x":4720,"y":320,"wires":[[]]},{"id":"c38d4b19.4d8648","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ7/HYDROGEN","qos":"2","broker":"a6205e87.93b87","x":270,"y":720,"wires":[["8f1331bb.544a5"]]},{"id":"e8df03c6.171b9","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ7/LPG","qos":"2","broker":"a6205e87.93b87","x":250,"y":800,"wires":[["8f1331bb.544a5"]]},{"id":"fc74d4b4.95a7a8","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ7/METHANE","qos":"2","broker":"a6205e87.93b87","x":270,"y":880,"wires":[["8f1331bb.544a5"]]},{"id":"42c3bd9f.ea6604","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ7/CARBON_MONOXIDE","qos":"2","broker":"a6205e87.93b87","x":300,"y":640,"wires":[["8f1331bb.544a5"]]},{"id":"34522a17.c678c6","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ7/ALCOHOL","qos":"2","broker":"a6205e87.93b87","x":270,"y":960,"wires":[["8f1331bb.544a5"]]},{"id":"8f1331bb.544a5","type":"subflow:7c7f8466.78ee7c","z":"41df0947.756428","x":660,"y":800,"wires":[[]]},{"id":"e48eb8d5.ca7508","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ8/HYDROGEN","qos":"2","broker":"a6205e87.93b87","x":1130,"y":660,"wires":[["43390826.8029c8"]]},{"id":"c0b75a1.af82fa8","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ8/CARBON_MONOXIDE","qos":"2","broker":"a6205e87.93b87","x":1160,"y":820,"wires":[["43390826.8029c8"]]},{"id":"fd88625c.b6d19","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ8/METHANE","qos":"2","broker":"a6205e87.93b87","x":1130,"y":900,"wires":[["43390826.8029c8"]]},{"id":"489043a9.d06a9c","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ8/ALCOHOL","qos":"2","broker":"a6205e87.93b87","x":1130,"y":740,"wires":[["43390826.8029c8"]]},{"id":"43390826.8029c8","type":"subflow:7c7f8466.78ee7c","z":"41df0947.756428","x":1580,"y":780,"wires":[[]]},{"id":"743b5916.fad258","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ135/CARBON_MONOXIDE","qos":"2","broker":"a6205e87.93b87","x":3190,"y":660,"wires":[["9f0459b1.c88968"]]},{"id":"74afce4b.e2f72","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ135/ALCOHOL","qos":"2","broker":"a6205e87.93b87","x":3150,"y":740,"wires":[["9f0459b1.c88968"]]},{"id":"5fddfeb5.f8837","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ135/CARBON_DIOXIDE","qos":"2","broker":"a6205e87.93b87","x":3180,"y":580,"wires":[["9f0459b1.c88968"]]},{"id":"3d523c64.4ddab4","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ135/AMMONIUM","qos":"2","broker":"a6205e87.93b87","x":3160,"y":820,"wires":[["9f0459b1.c88968"]]},{"id":"5f44ed0e.2c9374","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ135/TOLUENE","qos":"2","broker":"a6205e87.93b87","x":3150,"y":900,"wires":[["9f0459b1.c88968"]]},{"id":"25af93f1.6046bc","type":"mqtt in","z":"41df0947.756428","name":"","topic":"Airqualitymonitoring/Gassensors/MQ135/ACETONE","qos":"2","broker":"a6205e87.93b87","x":3150,"y":980,"wires":[["9f0459b1.c88968"]]},{"id":"9f0459b1.c88968","type":"subflow:7c7f8466.78ee7c","z":"41df0947.756428","x":3660,"y":780,"wires":[[]]},{"id":"a6205e87.93b87","type":"mqtt-broker","z":"","broker":"172.16.27.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"95a8a8e3.630e88","type":"subflow:41df0947.756428","z":"77a00c8c.49b404","x":270,"y":160,"wires":[["7095a90.c7ff258"],["7095a90.c7ff258"],["7095a90.c7ff258"],["7095a90.c7ff258"],["7095a90.c7ff258"],["7095a90.c7ff258"],["7095a90.c7ff258"],["7095a90.c7ff258"],["7095a90.c7ff258"]]},{"id":"7095a90.c7ff258","type":"debug","z":"77a00c8c.49b404","name":"","active":false,"console":"false","complete":"false","x":490,"y":160,"wires":[]}]