nodered library/mq135
[{"id":"7c7f8466.78ee7c","type":"subflow","name":"display function","info":"","in":[{"x":320,"y":300,"wires":[{"id":"c3f1e30c.8ab2b"}]}],"out":[{"x":640,"y":300,"wires":[{"id":"c3f1e30c.8ab2b","port":0}]}]},{"id":"c3f1e30c.8ab2b","type":"function","z":"7c7f8466.78ee7c","name":"","func":"var res = msg.payload.split(\":\");\n//ppmvalue = res[1];\nif (res[1] == '0.00'){\n   msg.payload =  'null';\n}\nelse{\n  msg.payload = res[1];  \n}\n//msg.payload = res[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":300,"wires":[[]]},{"id":"cbaa2b6e.475778","type":"mqtt in","z":"a4204aa1.a4b288","name":"","topic":"Airqualitymonitoring/Gassensors/MQ135/CARBON_MONOXIDE","qos":"2","broker":"a6205e87.93b87","x":290,"y":160,"wires":[["283687db.727ee8"]]},{"id":"bd7cc4e0.1f76b8","type":"mqtt in","z":"a4204aa1.a4b288","name":"","topic":"Airqualitymonitoring/Gassensors/MQ135/ALCOHOL","qos":"2","broker":"a6205e87.93b87","x":250,"y":240,"wires":[["c4babd8c.ad221"]]},{"id":"e8eabe1c.5b353","type":"mqtt in","z":"a4204aa1.a4b288","name":"","topic":"Airqualitymonitoring/Gassensors/MQ135/CARBON_DIOXIDE","qos":"2","broker":"a6205e87.93b87","x":280,"y":80,"wires":[["832ba332.0fadb"]]},{"id":"56bc0e13.09eac","type":"mqtt in","z":"a4204aa1.a4b288","name":"","topic":"Airqualitymonitoring/Gassensors/MQ135/AMMONIUM","qos":"2","broker":"a6205e87.93b87","x":240,"y":320,"wires":[["8a577b88.2ad3f8"]]},{"id":"f00a9d92.93719","type":"mqtt in","z":"a4204aa1.a4b288","name":"","topic":"Airqualitymonitoring/Gassensors/MQ135/TOLUENE","qos":"2","broker":"a6205e87.93b87","x":250,"y":400,"wires":[["a32a2c4b.a1421"]]},{"id":"e0ffa773.7b8d58","type":"mqtt in","z":"a4204aa1.a4b288","name":"","topic":"Airqualitymonitoring/Gassensors/MQ135/ACETONE","qos":"2","broker":"a6205e87.93b87","x":250,"y":480,"wires":[["7ddcceb5.2d0a9"]]},{"id":"cb7257c5.ee29b8","type":"function","z":"a4204aa1.a4b288","name":"","func":"var res = msg.payload.split(\":\");\n//ppmvalue = res[1];\nmsg.payload = res[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":620,"wires":[[]]},{"id":"832ba332.0fadb","type":"subflow:7c7f8466.78ee7c","z":"a4204aa1.a4b288","x":720,"y":80,"wires":[["83a8eab2.679bc8"]]},{"id":"283687db.727ee8","type":"subflow:7c7f8466.78ee7c","z":"a4204aa1.a4b288","x":720,"y":160,"wires":[["56637f1e.d3db5"]]},{"id":"c4babd8c.ad221","type":"subflow:7c7f8466.78ee7c","z":"a4204aa1.a4b288","x":720,"y":240,"wires":[["ef8bfc34.13c19"]]},{"id":"8a577b88.2ad3f8","type":"subflow:7c7f8466.78ee7c","z":"a4204aa1.a4b288","x":720,"y":320,"wires":[["5a280275.30961c"]]},{"id":"a32a2c4b.a1421","type":"subflow:7c7f8466.78ee7c","z":"a4204aa1.a4b288","x":720,"y":400,"wires":[["d944bad5.f62d68"]]},{"id":"7ddcceb5.2d0a9","type":"subflow:7c7f8466.78ee7c","z":"a4204aa1.a4b288","x":720,"y":480,"wires":[["6c34ffd4.c41f6"]]},{"id":"83a8eab2.679bc8","type":"ui_chart","z":"a4204aa1.a4b288","name":"","group":"90f98829.c89df8","order":0,"width":0,"height":0,"label":"MQ135_CO2-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":1010,"y":80,"wires":[[],[]]},{"id":"56637f1e.d3db5","type":"ui_chart","z":"a4204aa1.a4b288","name":"","group":"90f98829.c89df8","order":0,"width":0,"height":0,"label":"MQ135_CO-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":1010,"y":160,"wires":[[],[]]},{"id":"ef8bfc34.13c19","type":"ui_chart","z":"a4204aa1.a4b288","name":"","group":"90f98829.c89df8","order":0,"width":0,"height":0,"label":"MQ135_Alcohol-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":1010,"y":240,"wires":[[],[]]},{"id":"5a280275.30961c","type":"ui_chart","z":"a4204aa1.a4b288","name":"","group":"90f98829.c89df8","order":0,"width":0,"height":0,"label":"MQ135_Ammonium-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":1010,"y":320,"wires":[[],[]]},{"id":"d944bad5.f62d68","type":"ui_chart","z":"a4204aa1.a4b288","name":"","group":"90f98829.c89df8","order":0,"width":0,"height":0,"label":"MQ135_Toluene-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":1010,"y":400,"wires":[[],[]]},{"id":"6c34ffd4.c41f6","type":"ui_chart","z":"a4204aa1.a4b288","name":"","group":"90f98829.c89df8","order":0,"width":0,"height":0,"label":"MQ135_Acetone-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":1010,"y":480,"wires":[[],[]]},{"id":"a6205e87.93b87","type":"mqtt-broker","z":"","broker":"172.16.27.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"90f98829.c89df8","type":"ui_group","z":"","name":"MQ135 gases","tab":"d33a33b9.cd4b4","disp":true,"width":"6"},{"id":"d33a33b9.cd4b4","type":"ui_tab","z":"","name":"MQ135","icon":"dashboard"}]