nodered library/mq2
[{"id":"7c7f8466.78ee7c","type":"subflow","name":"display function","info":"","in":[{"x":320,"y":300,"wires":[{"id":"c3f1e30c.8ab2b"}]}],"out":[{"x":640,"y":300,"wires":[{"id":"c3f1e30c.8ab2b","port":0}]}]},{"id":"c3f1e30c.8ab2b","type":"function","z":"7c7f8466.78ee7c","name":"","func":"var res = msg.payload.split(\":\");\n//ppmvalue = res[1];\nif (res[1] == '0.00'){\n   msg.payload =  'null';\n}\nelse{\n  msg.payload = res[1];  \n}\n//msg.payload = res[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":300,"wires":[[]]},{"id":"b58e4525.2c1758","type":"mqtt in","z":"86d2dc10.dba9f","name":"","topic":"Airqualitymonitoring/Gassensors/MQ2/HYDROGEN","qos":"2","broker":"a6205e87.93b87","x":250,"y":80,"wires":[["16fedc9d.9c2443"]]},{"id":"c318e289.28a11","type":"mqtt in","z":"86d2dc10.dba9f","name":"","topic":"Airqualitymonitoring/Gassensors/MQ2/LPG","qos":"2","broker":"a6205e87.93b87","x":230,"y":140,"wires":[["9bdf024a.6e52f"]]},{"id":"945ee9d9.625018","type":"mqtt in","z":"86d2dc10.dba9f","name":"","topic":"Airqualitymonitoring/Gassensors/MQ2/METHANE","qos":"2","broker":"a6205e87.93b87","x":250,"y":200,"wires":[["65c160c5.1012f"]]},{"id":"30612c89.dad074","type":"mqtt in","z":"86d2dc10.dba9f","name":"","topic":"Airqualitymonitoring/Gassensors/MQ2/CARBON_MONOXIDE","qos":"2","broker":"a6205e87.93b87","x":280,"y":260,"wires":[["56d50f5e.d479d"]]},{"id":"99e7e773.4935b8","type":"mqtt in","z":"86d2dc10.dba9f","name":"","topic":"Airqualitymonitoring/Gassensors/MQ2/ALCOHOL","qos":"2","broker":"a6205e87.93b87","x":250,"y":320,"wires":[["dd74f5d8.a4fd68"]]},{"id":"e2b780a8.5d39e","type":"mqtt in","z":"86d2dc10.dba9f","name":"","topic":"Airqualitymonitoring/Gassensors/MQ2/SMOKE","qos":"2","broker":"a6205e87.93b87","x":240,"y":380,"wires":[["898d4fff.8ec31"]]},{"id":"7a73853b.701b6c","type":"mqtt in","z":"86d2dc10.dba9f","name":"","topic":"Airqualitymonitoring/Gassensors/MQ2/PROPANE","qos":"2","broker":"a6205e87.93b87","x":240,"y":440,"wires":[["bb4393a2.aa63"]]},{"id":"16fedc9d.9c2443","type":"subflow:7c7f8466.78ee7c","z":"86d2dc10.dba9f","x":640,"y":80,"wires":[["55603a81.016a04"]]},{"id":"9bdf024a.6e52f","type":"subflow:7c7f8466.78ee7c","z":"86d2dc10.dba9f","x":640,"y":140,"wires":[["a739e62d.0af0d8"]]},{"id":"65c160c5.1012f","type":"subflow:7c7f8466.78ee7c","z":"86d2dc10.dba9f","x":640,"y":200,"wires":[["ad5ffa56.a113a8"]]},{"id":"56d50f5e.d479d","type":"subflow:7c7f8466.78ee7c","z":"86d2dc10.dba9f","x":640,"y":260,"wires":[["cbbd6d74.acd8c"]]},{"id":"dd74f5d8.a4fd68","type":"subflow:7c7f8466.78ee7c","z":"86d2dc10.dba9f","x":640,"y":320,"wires":[["e3db0a4a.835a18"]]},{"id":"898d4fff.8ec31","type":"subflow:7c7f8466.78ee7c","z":"86d2dc10.dba9f","x":640,"y":380,"wires":[["dc9d4869.11e5f8"]]},{"id":"bb4393a2.aa63","type":"subflow:7c7f8466.78ee7c","z":"86d2dc10.dba9f","x":640,"y":440,"wires":[["a8e7bde.55f314"]]},{"id":"55603a81.016a04","type":"ui_chart","z":"86d2dc10.dba9f","name":"","group":"e65b78ec.5a7b88","order":0,"width":0,"height":0,"label":"MQ2_Hydrogen-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":890,"y":80,"wires":[[],[]]},{"id":"a739e62d.0af0d8","type":"ui_chart","z":"86d2dc10.dba9f","name":"","group":"e65b78ec.5a7b88","order":0,"width":0,"height":0,"label":"MQ2_LPG-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":890,"y":140,"wires":[[],[]]},{"id":"ad5ffa56.a113a8","type":"ui_chart","z":"86d2dc10.dba9f","name":"","group":"e65b78ec.5a7b88","order":0,"width":0,"height":0,"label":"MQ2_Methane-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":890,"y":200,"wires":[[],[]]},{"id":"cbbd6d74.acd8c","type":"ui_chart","z":"86d2dc10.dba9f","name":"","group":"e65b78ec.5a7b88","order":0,"width":0,"height":0,"label":"MQ2_CO-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":890,"y":260,"wires":[[],[]]},{"id":"e3db0a4a.835a18","type":"ui_chart","z":"86d2dc10.dba9f","name":"","group":"e65b78ec.5a7b88","order":0,"width":0,"height":0,"label":"MQ2_Alcohol-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":890,"y":320,"wires":[[],[]]},{"id":"dc9d4869.11e5f8","type":"ui_chart","z":"86d2dc10.dba9f","name":"","group":"e65b78ec.5a7b88","order":0,"width":0,"height":0,"label":"MQ2_Smoke-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":890,"y":380,"wires":[[],[]]},{"id":"a8e7bde.55f314","type":"ui_chart","z":"86d2dc10.dba9f","name":"","group":"e65b78ec.5a7b88","order":0,"width":0,"height":0,"label":"MQ2_Propane-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":890,"y":440,"wires":[[],[]]},{"id":"a6205e87.93b87","type":"mqtt-broker","z":"","broker":"172.16.27.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"e65b78ec.5a7b88","type":"ui_group","z":"","name":"MQ2 gases","tab":"62cc8e1c.ab74c","order":1,"disp":true,"width":"6"},{"id":"62cc8e1c.ab74c","type":"ui_tab","z":"","name":"MQ2 AND MQ3","icon":"dashboard","order":3}]