nodered library/mq3
[{"id":"7c7f8466.78ee7c","type":"subflow","name":"display function","info":"","in":[{"x":320,"y":300,"wires":[{"id":"c3f1e30c.8ab2b"}]}],"out":[{"x":640,"y":300,"wires":[{"id":"c3f1e30c.8ab2b","port":0}]}]},{"id":"c3f1e30c.8ab2b","type":"function","z":"7c7f8466.78ee7c","name":"","func":"var res = msg.payload.split(\":\");\n//ppmvalue = res[1];\nif (res[1] == '0.00'){\n   msg.payload =  'null';\n}\nelse{\n  msg.payload = res[1];  \n}\n//msg.payload = res[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":300,"wires":[[]]},{"id":"865e7920.1574f8","type":"mqtt in","z":"f5d3d631.28edd8","name":"","topic":"Airqualitymonitoring/Gassensors/MQ3/ALCOHOL","qos":"2","broker":"a6205e87.93b87","x":250,"y":80,"wires":[["45116476.e7a16c"]]},{"id":"b88dec4a.69f1a","type":"mqtt in","z":"f5d3d631.28edd8","name":"","topic":"Airqualitymonitoring/Gassensors/MQ3/METHANE","qos":"2","broker":"a6205e87.93b87","x":250,"y":240,"wires":[["fb241bc3.50b198"]]},{"id":"d002d9a5.f69308","type":"mqtt in","z":"f5d3d631.28edd8","name":"","topic":"Airqualitymonitoring/Gassensors/MQ3/LPG","qos":"2","broker":"a6205e87.93b87","x":230,"y":400,"wires":[["deabb4ff.139448"]]},{"id":"49cc1c58.e70354","type":"mqtt in","z":"f5d3d631.28edd8","name":"","topic":"Airqualitymonitoring/Gassensors/MQ3/CARBON_MONOXIDE","qos":"2","broker":"a6205e87.93b87","x":280,"y":480,"wires":[["c2fe965.c23cb68"]]},{"id":"c5ea6f2a.ee29b","type":"mqtt in","z":"f5d3d631.28edd8","name":"","topic":"Airqualitymonitoring/Gassensors/MQ3/HEXANE","qos":"2","broker":"a6205e87.93b87","x":240,"y":320,"wires":[["b1acae47.c2673"]]},{"id":"5395622c.241b5c","type":"mqtt in","z":"f5d3d631.28edd8","name":"","topic":"Airqualitymonitoring/Gassensors/MQ3/BENZENE","qos":"2","broker":"a6205e87.93b87","x":240,"y":160,"wires":[["253eb81f.042668"]]},{"id":"45116476.e7a16c","type":"subflow:7c7f8466.78ee7c","z":"f5d3d631.28edd8","x":660,"y":80,"wires":[["1d70186.26876e8"]]},{"id":"253eb81f.042668","type":"subflow:7c7f8466.78ee7c","z":"f5d3d631.28edd8","x":660,"y":160,"wires":[["2f5bfdf.1124502"]]},{"id":"fb241bc3.50b198","type":"subflow:7c7f8466.78ee7c","z":"f5d3d631.28edd8","x":660,"y":240,"wires":[["a5a9e8da.1690b8"]]},{"id":"b1acae47.c2673","type":"subflow:7c7f8466.78ee7c","z":"f5d3d631.28edd8","x":660,"y":320,"wires":[["5ce2697f.fc0bb8"]]},{"id":"deabb4ff.139448","type":"subflow:7c7f8466.78ee7c","z":"f5d3d631.28edd8","x":660,"y":400,"wires":[["f3b50534.6bb4d8"]]},{"id":"c2fe965.c23cb68","type":"subflow:7c7f8466.78ee7c","z":"f5d3d631.28edd8","x":660,"y":480,"wires":[["5944a5c.97d2b5c"]]},{"id":"1d70186.26876e8","type":"ui_chart","z":"f5d3d631.28edd8","name":"","group":"3eb4c5ef.d7b63a","order":0,"width":0,"height":0,"label":"MQ3_Alcohol-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":910,"y":80,"wires":[[],[]]},{"id":"2f5bfdf.1124502","type":"ui_chart","z":"f5d3d631.28edd8","name":"","group":"3eb4c5ef.d7b63a","order":0,"width":0,"height":0,"label":"MQ3_Benzene-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":910,"y":160,"wires":[[],[]]},{"id":"a5a9e8da.1690b8","type":"ui_chart","z":"f5d3d631.28edd8","name":"","group":"3eb4c5ef.d7b63a","order":0,"width":0,"height":0,"label":"MQ3_Methane-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":910,"y":240,"wires":[[],[]]},{"id":"5ce2697f.fc0bb8","type":"ui_chart","z":"f5d3d631.28edd8","name":"","group":"3eb4c5ef.d7b63a","order":0,"width":0,"height":0,"label":"MQ3_Hexane-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":910,"y":320,"wires":[[],[]]},{"id":"f3b50534.6bb4d8","type":"ui_chart","z":"f5d3d631.28edd8","name":"","group":"3eb4c5ef.d7b63a","order":0,"width":0,"height":0,"label":"MQ3_LPG-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":910,"y":400,"wires":[[],[]]},{"id":"5944a5c.97d2b5c","type":"ui_chart","z":"f5d3d631.28edd8","name":"","group":"3eb4c5ef.d7b63a","order":0,"width":0,"height":0,"label":"MQ3_CO-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":910,"y":480,"wires":[[],[]]},{"id":"a6205e87.93b87","type":"mqtt-broker","z":"","broker":"172.16.27.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"3eb4c5ef.d7b63a","type":"ui_group","z":"","name":"MQ3 gases","tab":"62cc8e1c.ab74c","disp":true,"width":"6"},{"id":"62cc8e1c.ab74c","type":"ui_tab","z":"","name":"MQ2 AND MQ3","icon":"dashboard","order":3}]