nodered library/mq4
[{"id":"7c7f8466.78ee7c","type":"subflow","name":"display function","info":"","in":[{"x":320,"y":300,"wires":[{"id":"c3f1e30c.8ab2b"}]}],"out":[{"x":640,"y":300,"wires":[{"id":"c3f1e30c.8ab2b","port":0}]}]},{"id":"c3f1e30c.8ab2b","type":"function","z":"7c7f8466.78ee7c","name":"","func":"var res = msg.payload.split(\":\");\n//ppmvalue = res[1];\nif (res[1] == '0.00'){\n   msg.payload =  'null';\n}\nelse{\n  msg.payload = res[1];  \n}\n//msg.payload = res[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":300,"wires":[[]]},{"id":"b2390d8c.815a2","type":"mqtt in","z":"a88d6ca2.8a02a","name":"","topic":"Airqualitymonitoring/Gassensors/MQ4/LPG","qos":"2","broker":"a6205e87.93b87","x":230,"y":80,"wires":[["33c2d4be.bfcb0c"]]},{"id":"73af8d5a.e036e4","type":"mqtt in","z":"a88d6ca2.8a02a","name":"","topic":"Airqualitymonitoring/Gassensors/MQ4/METHANE","qos":"2","broker":"a6205e87.93b87","x":250,"y":160,"wires":[["7f492c89.bd0474"]]},{"id":"127cf9a2.e48726","type":"mqtt in","z":"a88d6ca2.8a02a","name":"","topic":"Airqualitymonitoring/Gassensors/MQ4/HYDROGEN","qos":"2","broker":"a6205e87.93b87","x":250,"y":240,"wires":[["f5857707.40eb38"]]},{"id":"63d36262.7b4d0c","type":"mqtt in","z":"a88d6ca2.8a02a","name":"","topic":"Airqualitymonitoring/Gassensors/MQ4/CARBON_MONOXIDE","qos":"2","broker":"a6205e87.93b87","x":280,"y":320,"wires":[["a98f453f.985d18"]]},{"id":"1384c810.a2d998","type":"mqtt in","z":"a88d6ca2.8a02a","name":"","topic":"Airqualitymonitoring/Gassensors/MQ4/ALCOHOL","qos":"2","broker":"a6205e87.93b87","x":250,"y":400,"wires":[["4649c4b7.77022c"]]},{"id":"73ecb589.032b5c","type":"mqtt in","z":"a88d6ca2.8a02a","name":"","topic":"Airqualitymonitoring/Gassensors/MQ4/SMOKE","qos":"2","broker":"a6205e87.93b87","x":240,"y":480,"wires":[["4398fe54.23d3"]]},{"id":"f5857707.40eb38","type":"subflow:7c7f8466.78ee7c","z":"a88d6ca2.8a02a","x":680,"y":240,"wires":[["9ea30c4b.730b1"]]},{"id":"33c2d4be.bfcb0c","type":"subflow:7c7f8466.78ee7c","z":"a88d6ca2.8a02a","x":680,"y":80,"wires":[["e6ec0764.96d508"]]},{"id":"7f492c89.bd0474","type":"subflow:7c7f8466.78ee7c","z":"a88d6ca2.8a02a","x":680,"y":160,"wires":[["8d92a4d3.7e45b8"]]},{"id":"a98f453f.985d18","type":"subflow:7c7f8466.78ee7c","z":"a88d6ca2.8a02a","x":680,"y":320,"wires":[["d287aa5d.2d48b8"]]},{"id":"4649c4b7.77022c","type":"subflow:7c7f8466.78ee7c","z":"a88d6ca2.8a02a","x":680,"y":400,"wires":[["30f7901e.c1fc6"]]},{"id":"4398fe54.23d3","type":"subflow:7c7f8466.78ee7c","z":"a88d6ca2.8a02a","x":680,"y":480,"wires":[["561531f8.75342"]]},{"id":"9ea30c4b.730b1","type":"ui_chart","z":"a88d6ca2.8a02a","name":"","group":"1568f90b.1bc157","order":0,"width":0,"height":0,"label":"MQ4_Hydrogen-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":930,"y":240,"wires":[[],[]]},{"id":"e6ec0764.96d508","type":"ui_chart","z":"a88d6ca2.8a02a","name":"","group":"1568f90b.1bc157","order":0,"width":0,"height":0,"label":"MQ4_LPG-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":930,"y":80,"wires":[[],[]]},{"id":"8d92a4d3.7e45b8","type":"ui_chart","z":"a88d6ca2.8a02a","name":"","group":"1568f90b.1bc157","order":0,"width":0,"height":0,"label":"MQ4_Methane-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":930,"y":160,"wires":[[],[]]},{"id":"d287aa5d.2d48b8","type":"ui_chart","z":"a88d6ca2.8a02a","name":"","group":"1568f90b.1bc157","order":0,"width":0,"height":0,"label":"MQ4_CO-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":930,"y":320,"wires":[[],[]]},{"id":"30f7901e.c1fc6","type":"ui_chart","z":"a88d6ca2.8a02a","name":"","group":"1568f90b.1bc157","order":0,"width":0,"height":0,"label":"MQ4_Alcohol-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":930,"y":400,"wires":[[],[]]},{"id":"561531f8.75342","type":"ui_chart","z":"a88d6ca2.8a02a","name":"","group":"1568f90b.1bc157","order":0,"width":0,"height":0,"label":"MQ4_Smoke-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":930,"y":480,"wires":[[],[]]},{"id":"a6205e87.93b87","type":"mqtt-broker","z":"","broker":"172.16.27.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"1568f90b.1bc157","type":"ui_group","z":"","name":"MQ4 gases","tab":"a773e302.8fb5","disp":true,"width":"6"},{"id":"a773e302.8fb5","type":"ui_tab","z":"","name":"MQ4, MQ8 AND MQ9","icon":"dashboard"}]