nodered library/mq5
[{"id":"7c7f8466.78ee7c","type":"subflow","name":"display function","info":"","in":[{"x":320,"y":300,"wires":[{"id":"c3f1e30c.8ab2b"}]}],"out":[{"x":640,"y":300,"wires":[{"id":"c3f1e30c.8ab2b","port":0}]}]},{"id":"c3f1e30c.8ab2b","type":"function","z":"7c7f8466.78ee7c","name":"","func":"var res = msg.payload.split(\":\");\n//ppmvalue = res[1];\nif (res[1] == '0.00'){\n   msg.payload =  'null';\n}\nelse{\n  msg.payload = res[1];  \n}\n//msg.payload = res[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":300,"wires":[[]]},{"id":"4296e2fd.7b53ac","type":"mqtt in","z":"812e903e.e0aaf","name":"","topic":"Airqualitymonitoring/Gassensors/MQ5/LPG","qos":"2","broker":"a6205e87.93b87","x":230,"y":160,"wires":[["73a8600f.5d2db"]]},{"id":"2301ac3d.615864","type":"mqtt in","z":"812e903e.e0aaf","name":"","topic":"Airqualitymonitoring/Gassensors/MQ5/METHANE","qos":"2","broker":"a6205e87.93b87","x":250,"y":240,"wires":[["b5c4b22f.fc314"]]},{"id":"fca28446.71f348","type":"mqtt in","z":"812e903e.e0aaf","name":"","topic":"Airqualitymonitoring/Gassensors/MQ5/HYDROGEN","qos":"2","broker":"a6205e87.93b87","x":250,"y":80,"wires":[["d98e4a76.36ef88"]]},{"id":"cb5de251.fb94e","type":"mqtt in","z":"812e903e.e0aaf","name":"","topic":"Airqualitymonitoring/Gassensors/MQ5/CARBON_MONOXIDE","qos":"2","broker":"a6205e87.93b87","x":280,"y":320,"wires":[["1bf8b4b0.17999b"]]},{"id":"28f20b65.53f434","type":"mqtt in","z":"812e903e.e0aaf","name":"","topic":"Airqualitymonitoring/Gassensors/MQ5/ALCOHOL","qos":"2","broker":"a6205e87.93b87","x":250,"y":400,"wires":[["d0341954.bfeb68"]]},{"id":"96e0c04a.b13fa","type":"function","z":"812e903e.e0aaf","name":"","func":"var res = msg.payload.split(\":\");\n//ppmvalue = res[1];\nmsg.payload = res[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":500,"wires":[[]]},{"id":"d98e4a76.36ef88","type":"subflow:7c7f8466.78ee7c","z":"812e903e.e0aaf","x":660,"y":80,"wires":[["def977a4.2895e8"]]},{"id":"73a8600f.5d2db","type":"subflow:7c7f8466.78ee7c","z":"812e903e.e0aaf","x":660,"y":160,"wires":[["5e23865a.af8c28"]]},{"id":"b5c4b22f.fc314","type":"subflow:7c7f8466.78ee7c","z":"812e903e.e0aaf","x":660,"y":240,"wires":[["ab241819.130038"]]},{"id":"1bf8b4b0.17999b","type":"subflow:7c7f8466.78ee7c","z":"812e903e.e0aaf","x":660,"y":320,"wires":[["73ca5427.9f7f6c"]]},{"id":"d0341954.bfeb68","type":"subflow:7c7f8466.78ee7c","z":"812e903e.e0aaf","x":660,"y":400,"wires":[["d7c3de1c.84e8b"]]},{"id":"def977a4.2895e8","type":"ui_chart","z":"812e903e.e0aaf","name":"","group":"3b74cfc.fec763","order":0,"width":0,"height":0,"label":"MQ5_Hydrogen-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":930,"y":80,"wires":[[],[]]},{"id":"5e23865a.af8c28","type":"ui_chart","z":"812e903e.e0aaf","name":"","group":"3b74cfc.fec763","order":0,"width":0,"height":0,"label":"MQ5_LPG-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":930,"y":160,"wires":[[],[]]},{"id":"ab241819.130038","type":"ui_chart","z":"812e903e.e0aaf","name":"","group":"3b74cfc.fec763","order":0,"width":0,"height":0,"label":"MQ5_Methane-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":930,"y":240,"wires":[[],[]]},{"id":"73ca5427.9f7f6c","type":"ui_chart","z":"812e903e.e0aaf","name":"","group":"3b74cfc.fec763","order":0,"width":0,"height":0,"label":"MQ5_CO-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":930,"y":320,"wires":[[],[]]},{"id":"d7c3de1c.84e8b","type":"ui_chart","z":"812e903e.e0aaf","name":"","group":"3b74cfc.fec763","order":0,"width":0,"height":0,"label":"MQ5_Alcohol-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":930,"y":400,"wires":[[],[]]},{"id":"a6205e87.93b87","type":"mqtt-broker","z":"","broker":"172.16.27.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"3b74cfc.fec763","type":"ui_group","z":"","name":"MQ5 gases","tab":"cd9ef261.d8776","disp":true,"width":"6"},{"id":"cd9ef261.d8776","type":"ui_tab","z":"","name":"MQ5, MQ6 AND MQ7","icon":"dashboard"}]