nodered library/mq6
[{"id":"7c7f8466.78ee7c","type":"subflow","name":"display function","info":"","in":[{"x":320,"y":300,"wires":[{"id":"c3f1e30c.8ab2b"}]}],"out":[{"x":640,"y":300,"wires":[{"id":"c3f1e30c.8ab2b","port":0}]}]},{"id":"c3f1e30c.8ab2b","type":"function","z":"7c7f8466.78ee7c","name":"","func":"var res = msg.payload.split(\":\");\n//ppmvalue = res[1];\nif (res[1] == '0.00'){\n   msg.payload =  'null';\n}\nelse{\n  msg.payload = res[1];  \n}\n//msg.payload = res[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":300,"wires":[[]]},{"id":"a292a640.83fe88","type":"mqtt in","z":"bf44f07a.2f6a1","name":"","topic":"Airqualitymonitoring/Gassensors/MQ6/LPG","qos":"2","broker":"a6205e87.93b87","x":230,"y":80,"wires":[["52fa1c03.486a24"]]},{"id":"574fcbfb.7affb4","type":"mqtt in","z":"bf44f07a.2f6a1","name":"","topic":"Airqualitymonitoring/Gassensors/MQ6/METHANE","qos":"2","broker":"a6205e87.93b87","x":250,"y":240,"wires":[["b0a1a63.6d3a758"]]},{"id":"dc2d3c48.3a0fc","type":"mqtt in","z":"bf44f07a.2f6a1","name":"","topic":"Airqualitymonitoring/Gassensors/MQ6/HYDROGEN","qos":"2","broker":"a6205e87.93b87","x":250,"y":160,"wires":[["d61c4ec6.12a5"]]},{"id":"47e75777.b23828","type":"mqtt in","z":"bf44f07a.2f6a1","name":"","topic":"Airqualitymonitoring/Gassensors/MQ6/CARBON_MONOXIDE","qos":"2","broker":"a6205e87.93b87","x":280,"y":320,"wires":[["553d473e.a4e138"]]},{"id":"b720742.4ab0088","type":"mqtt in","z":"bf44f07a.2f6a1","name":"","topic":"Airqualitymonitoring/Gassensors/MQ6/ALCOHOL","qos":"2","broker":"a6205e87.93b87","x":250,"y":400,"wires":[["228199a7.333576"]]},{"id":"44dd3471.39321c","type":"function","z":"bf44f07a.2f6a1","name":"","func":"var res = msg.payload.split(\":\");\n//ppmvalue = res[1];\nmsg.payload = res[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":540,"wires":[[]]},{"id":"d61c4ec6.12a5","type":"subflow:7c7f8466.78ee7c","z":"bf44f07a.2f6a1","x":680,"y":160,"wires":[["1ec4dadd.495d55"]]},{"id":"52fa1c03.486a24","type":"subflow:7c7f8466.78ee7c","z":"bf44f07a.2f6a1","x":680,"y":80,"wires":[["e4f9b7da.204e38"]]},{"id":"b0a1a63.6d3a758","type":"subflow:7c7f8466.78ee7c","z":"bf44f07a.2f6a1","x":680,"y":240,"wires":[["cd9fd20d.d5ccb"]]},{"id":"553d473e.a4e138","type":"subflow:7c7f8466.78ee7c","z":"bf44f07a.2f6a1","x":680,"y":320,"wires":[["add61585.f16608"]]},{"id":"228199a7.333576","type":"subflow:7c7f8466.78ee7c","z":"bf44f07a.2f6a1","x":680,"y":400,"wires":[["504032a4.200a0c"]]},{"id":"1ec4dadd.495d55","type":"ui_chart","z":"bf44f07a.2f6a1","name":"","group":"c5cfffc0.a0d8","order":0,"width":0,"height":0,"label":"MQ6_Hydrogen-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":950,"y":160,"wires":[[],[]]},{"id":"e4f9b7da.204e38","type":"ui_chart","z":"bf44f07a.2f6a1","name":"","group":"c5cfffc0.a0d8","order":0,"width":0,"height":0,"label":"MQ6_LPG-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":950,"y":80,"wires":[[],[]]},{"id":"cd9fd20d.d5ccb","type":"ui_chart","z":"bf44f07a.2f6a1","name":"","group":"c5cfffc0.a0d8","order":0,"width":0,"height":0,"label":"MQ6_Methane-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":950,"y":240,"wires":[[],[]]},{"id":"add61585.f16608","type":"ui_chart","z":"bf44f07a.2f6a1","name":"","group":"c5cfffc0.a0d8","order":0,"width":0,"height":0,"label":"MQ6_CO-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":950,"y":320,"wires":[[],[]]},{"id":"504032a4.200a0c","type":"ui_chart","z":"bf44f07a.2f6a1","name":"","group":"c5cfffc0.a0d8","order":0,"width":0,"height":0,"label":"MQ6_Alcohol-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":950,"y":400,"wires":[[],[]]},{"id":"a6205e87.93b87","type":"mqtt-broker","z":"","broker":"172.16.27.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c5cfffc0.a0d8","type":"ui_group","z":"","name":"MQ6 gases","tab":"cd9ef261.d8776","disp":true,"width":"6"},{"id":"cd9ef261.d8776","type":"ui_tab","z":"","name":"MQ5, MQ6 AND MQ7","icon":"dashboard"}]