nodered library/mq7
[{"id":"7c7f8466.78ee7c","type":"subflow","name":"display function","info":"","in":[{"x":320,"y":300,"wires":[{"id":"c3f1e30c.8ab2b"}]}],"out":[{"x":640,"y":300,"wires":[{"id":"c3f1e30c.8ab2b","port":0}]}]},{"id":"c3f1e30c.8ab2b","type":"function","z":"7c7f8466.78ee7c","name":"","func":"var res = msg.payload.split(\":\");\n//ppmvalue = res[1];\nif (res[1] == '0.00'){\n   msg.payload =  'null';\n}\nelse{\n  msg.payload = res[1];  \n}\n//msg.payload = res[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":300,"wires":[[]]},{"id":"efc29ee4.8cd68","type":"mqtt in","z":"8a908e6f.0b5b6","name":"","topic":"Airqualitymonitoring/Gassensors/MQ7/HYDROGEN","qos":"2","broker":"a6205e87.93b87","x":250,"y":160,"wires":[["dc03da79.c18b58"]]},{"id":"3f77c639.26579a","type":"mqtt in","z":"8a908e6f.0b5b6","name":"","topic":"Airqualitymonitoring/Gassensors/MQ7/LPG","qos":"2","broker":"a6205e87.93b87","x":230,"y":240,"wires":[["11889af4.0dfc35"]]},{"id":"33a1fc39.72d7c4","type":"mqtt in","z":"8a908e6f.0b5b6","name":"","topic":"Airqualitymonitoring/Gassensors/MQ7/METHANE","qos":"2","broker":"a6205e87.93b87","x":250,"y":320,"wires":[["79449a74.73a384"]]},{"id":"6a8e5920.740da8","type":"mqtt in","z":"8a908e6f.0b5b6","name":"","topic":"Airqualitymonitoring/Gassensors/MQ7/CARBON_MONOXIDE","qos":"2","broker":"a6205e87.93b87","x":280,"y":80,"wires":[["f54cfcdf.af5bc"]]},{"id":"88bcdda8.247b5","type":"mqtt in","z":"8a908e6f.0b5b6","name":"","topic":"Airqualitymonitoring/Gassensors/MQ7/ALCOHOL","qos":"2","broker":"a6205e87.93b87","x":250,"y":400,"wires":[["cb0d2d68.8a518"]]},{"id":"f447200.feb09e","type":"function","z":"8a908e6f.0b5b6","name":"","func":"var res = msg.payload.split(\":\");\n//ppmvalue = res[1];\nmsg.payload = res[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":540,"wires":[[]]},{"id":"dc03da79.c18b58","type":"subflow:7c7f8466.78ee7c","z":"8a908e6f.0b5b6","x":700,"y":160,"wires":[["a8a3e4a2.923de8"]]},{"id":"11889af4.0dfc35","type":"subflow:7c7f8466.78ee7c","z":"8a908e6f.0b5b6","x":700,"y":240,"wires":[["d0beedf3.dca18"]]},{"id":"79449a74.73a384","type":"subflow:7c7f8466.78ee7c","z":"8a908e6f.0b5b6","x":700,"y":320,"wires":[["d71ddd62.10345"]]},{"id":"f54cfcdf.af5bc","type":"subflow:7c7f8466.78ee7c","z":"8a908e6f.0b5b6","x":700,"y":80,"wires":[["f4a83199.e698"]]},{"id":"cb0d2d68.8a518","type":"subflow:7c7f8466.78ee7c","z":"8a908e6f.0b5b6","x":700,"y":400,"wires":[["e831044c.3ba5a8"]]},{"id":"a8a3e4a2.923de8","type":"ui_chart","z":"8a908e6f.0b5b6","name":"","group":"6bfd7272.69605c","order":0,"width":0,"height":0,"label":"MQ7_Hydrogen-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":970,"y":160,"wires":[[],[]]},{"id":"d0beedf3.dca18","type":"ui_chart","z":"8a908e6f.0b5b6","name":"","group":"6bfd7272.69605c","order":0,"width":0,"height":0,"label":"MQ7_LPG-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":970,"y":240,"wires":[[],[]]},{"id":"d71ddd62.10345","type":"ui_chart","z":"8a908e6f.0b5b6","name":"","group":"6bfd7272.69605c","order":0,"width":0,"height":0,"label":"MQ7_Methane-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":970,"y":320,"wires":[[],[]]},{"id":"f4a83199.e698","type":"ui_chart","z":"8a908e6f.0b5b6","name":"","group":"6bfd7272.69605c","order":0,"width":0,"height":0,"label":"MQ7_CO-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":970,"y":80,"wires":[[],[]]},{"id":"e831044c.3ba5a8","type":"ui_chart","z":"8a908e6f.0b5b6","name":"","group":"6bfd7272.69605c","order":0,"width":0,"height":0,"label":"MQ7_Alcohol-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":970,"y":400,"wires":[[],[]]},{"id":"a6205e87.93b87","type":"mqtt-broker","z":"","broker":"172.16.27.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"6bfd7272.69605c","type":"ui_group","z":"","name":"MQ7 gases","tab":"cd9ef261.d8776","disp":true,"width":"6"},{"id":"cd9ef261.d8776","type":"ui_tab","z":"","name":"MQ5, MQ6 AND MQ7","icon":"dashboard"}]