nodered library/mq8
[{"id":"7c7f8466.78ee7c","type":"subflow","name":"display function","info":"","in":[{"x":320,"y":300,"wires":[{"id":"c3f1e30c.8ab2b"}]}],"out":[{"x":640,"y":300,"wires":[{"id":"c3f1e30c.8ab2b","port":0}]}]},{"id":"c3f1e30c.8ab2b","type":"function","z":"7c7f8466.78ee7c","name":"","func":"var res = msg.payload.split(\":\");\n//ppmvalue = res[1];\nif (res[1] == '0.00'){\n   msg.payload =  'null';\n}\nelse{\n  msg.payload = res[1];  \n}\n//msg.payload = res[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":300,"wires":[[]]},{"id":"dab5f963.333338","type":"mqtt in","z":"9655d862.959718","name":"","topic":"Airqualitymonitoring/Gassensors/MQ8/HYDROGEN","qos":"2","broker":"a6205e87.93b87","x":250,"y":80,"wires":[["60312668.c37cc8"]]},{"id":"a07b59bf.9c2a38","type":"mqtt in","z":"9655d862.959718","name":"","topic":"Airqualitymonitoring/Gassensors/MQ8/CARBON_MONOXIDE","qos":"2","broker":"a6205e87.93b87","x":280,"y":240,"wires":[["c0fc5851.87b5a8"]]},{"id":"c8c8cffb.9c22a","type":"mqtt in","z":"9655d862.959718","name":"","topic":"Airqualitymonitoring/Gassensors/MQ8/METHANE","qos":"2","broker":"a6205e87.93b87","x":250,"y":320,"wires":[["aa4dee13.6ab1e"]]},{"id":"1daf95f1.e756ba","type":"mqtt in","z":"9655d862.959718","name":"","topic":"Airqualitymonitoring/Gassensors/MQ8/ALCOHOL","qos":"2","broker":"a6205e87.93b87","x":250,"y":160,"wires":[["91e4df18.9e8d5"]]},{"id":"a2746cdf.37ca5","type":"function","z":"9655d862.959718","name":"","func":"var res = msg.payload.split(\":\");\n//ppmvalue = res[1];\nmsg.payload = res[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":500,"wires":[[]]},{"id":"60312668.c37cc8","type":"subflow:7c7f8466.78ee7c","z":"9655d862.959718","x":660,"y":80,"wires":[["2c2d8edc.9a65e2"]]},{"id":"aa4dee13.6ab1e","type":"subflow:7c7f8466.78ee7c","z":"9655d862.959718","x":660,"y":320,"wires":[["b27901d7.de50b"]]},{"id":"c0fc5851.87b5a8","type":"subflow:7c7f8466.78ee7c","z":"9655d862.959718","x":660,"y":240,"wires":[["f820245c.1ad398"]]},{"id":"91e4df18.9e8d5","type":"subflow:7c7f8466.78ee7c","z":"9655d862.959718","x":660,"y":160,"wires":[["e44662ba.b2a6"]]},{"id":"2c2d8edc.9a65e2","type":"ui_chart","z":"9655d862.959718","name":"","group":"c7721a1c.a88aa8","order":0,"width":0,"height":0,"label":"MQ8_Hydrogen-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":930,"y":80,"wires":[[],[]]},{"id":"b27901d7.de50b","type":"ui_chart","z":"9655d862.959718","name":"","group":"c7721a1c.a88aa8","order":0,"width":0,"height":0,"label":"MQ8_Methane-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":930,"y":320,"wires":[[],[]]},{"id":"f820245c.1ad398","type":"ui_chart","z":"9655d862.959718","name":"","group":"c7721a1c.a88aa8","order":0,"width":0,"height":0,"label":"MQ8_CO-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":930,"y":240,"wires":[[],[]]},{"id":"e44662ba.b2a6","type":"ui_chart","z":"9655d862.959718","name":"","group":"c7721a1c.a88aa8","order":0,"width":0,"height":0,"label":"MQ8_Alcohol-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":930,"y":160,"wires":[[],[]]},{"id":"a6205e87.93b87","type":"mqtt-broker","z":"","broker":"172.16.27.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c7721a1c.a88aa8","type":"ui_group","z":"","name":"MQ8 gases","tab":"a773e302.8fb5","disp":true,"width":"6"},{"id":"a773e302.8fb5","type":"ui_tab","z":"","name":"MQ4, MQ8 AND MQ9","icon":"dashboard"}]