nodered library/mq9
[{"id":"7c7f8466.78ee7c","type":"subflow","name":"display function","info":"","in":[{"x":320,"y":300,"wires":[{"id":"c3f1e30c.8ab2b"}]}],"out":[{"x":640,"y":300,"wires":[{"id":"c3f1e30c.8ab2b","port":0}]}]},{"id":"c3f1e30c.8ab2b","type":"function","z":"7c7f8466.78ee7c","name":"","func":"var res = msg.payload.split(\":\");\n//ppmvalue = res[1];\nif (res[1] == '0.00'){\n   msg.payload =  'null';\n}\nelse{\n  msg.payload = res[1];  \n}\n//msg.payload = res[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":300,"wires":[[]]},{"id":"f9590287.d0abf","type":"mqtt in","z":"203daf78.fe214","name":"","topic":"Airqualitymonitoring/Gassensors/MQ9/LPG","qos":"2","broker":"a6205e87.93b87","x":230,"y":80,"wires":[["aaa9e8d.76b7f18"]]},{"id":"10ec4cf.71ed4b3","type":"mqtt in","z":"203daf78.fe214","name":"","topic":"Airqualitymonitoring/Gassensors/MQ9/CARBON_MONOXIDE","qos":"2","broker":"a6205e87.93b87","x":280,"y":160,"wires":[["7acceb0b.a65ec4"]]},{"id":"b8d8b69d.e49658","type":"mqtt in","z":"203daf78.fe214","name":"","topic":"Airqualitymonitoring/Gassensors/MQ9/METHANE","qos":"2","broker":"a6205e87.93b87","x":250,"y":240,"wires":[["19dd2548.2ed45b"]]},{"id":"eb558b2d.04cc78","type":"function","z":"203daf78.fe214","name":"","func":"var res = msg.payload.split(\":\");\n//ppmvalue = res[1];\nmsg.payload = res[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":440,"wires":[[]]},{"id":"aaa9e8d.76b7f18","type":"subflow:7c7f8466.78ee7c","z":"203daf78.fe214","x":660,"y":80,"wires":[["3defaf9f.61138"]]},{"id":"19dd2548.2ed45b","type":"subflow:7c7f8466.78ee7c","z":"203daf78.fe214","x":660,"y":240,"wires":[["5956b23.7f9e84c"]]},{"id":"7acceb0b.a65ec4","type":"subflow:7c7f8466.78ee7c","z":"203daf78.fe214","x":660,"y":160,"wires":[["f9bdf55.1b6a008"]]},{"id":"3defaf9f.61138","type":"ui_chart","z":"203daf78.fe214","name":"","group":"610d78de.c270c8","order":0,"width":0,"height":0,"label":"MQ9_LPG-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":930,"y":80,"wires":[[],[]]},{"id":"5956b23.7f9e84c","type":"ui_chart","z":"203daf78.fe214","name":"","group":"610d78de.c270c8","order":0,"width":0,"height":0,"label":"MQ9_Methane-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":930,"y":240,"wires":[[],[]]},{"id":"f9bdf55.1b6a008","type":"ui_chart","z":"203daf78.fe214","name":"","group":"610d78de.c270c8","order":0,"width":0,"height":0,"label":"MQ9_CO-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":930,"y":160,"wires":[[],[]]},{"id":"a6205e87.93b87","type":"mqtt-broker","z":"","broker":"172.16.27.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"610d78de.c270c8","type":"ui_group","z":"","name":"MQ9 gases","tab":"a773e302.8fb5","disp":true,"width":"6"},{"id":"a773e302.8fb5","type":"ui_tab","z":"","name":"MQ4, MQ8 AND MQ9","icon":"dashboard"}]